@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



body {
    /*background-image: url('img1.jpg');*/
    background:#c7dde0;
    height:auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:auto;
}
table, td, th {
    border: 1px solid #222222; 

}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    /* overflow: visible; */

}

th{
    padding: 20px;
    font-size: 15px;
    background-color: #116269;
    color: #ddd;
    text-align: center;

}

td {
    padding: 15px;
    text-align: center

}
/* .no{
    width:1%;
    text-align: center;
} */

.id{
    width:20%;
    text-align: center;
}

.container {
    max-width:auto;
    min-height: 2500px;
    /* position: relative; */
    background: #F9F9F9;
    padding: 25px;
    margin:100px 100px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius:5px;
    font-family: Verdana,sans-serif;


}
/* .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
} */



.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    padding: 8px 16px;
    margin-top: 10%;
    text-decoration: none;
    border: 1px solid #ddd;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  
  .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }