*{
    box-sizing: border-box;
}




body {
    /*background-image: url('img1.jpg');*/
    background:lightblue;
    height:auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:auto;
}

.container {
    max-width:auto;
    position: relative;
    background: #F9F9F9;
    padding: 25px;
    margin:100px 100px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius:0px;
    font-family: Verdana,sans-serif;
}
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
.container h3{
    text-align:center;
}

.button {
    background-color:  black;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 10px 2px;
    cursor: pointer;
    font-family: Verdana,sans-serif;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    float:right;
}
.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type=text], select, textarea {
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=password], select, textarea {
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.col-25 {
    float: left;
    width: 15%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width:40%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    padding-right: 10%;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
table, td, th {
    border: 1px solid #999;

}

table {
    border-collapse: collapse;
    width: 100%;
}

th{
    padding: 8px;
    font-size: 13px;
}

td {
    padding: 15px;
    text-align: left;
}
.hello{
    width:1%;
}